torch==2.1.0
torchvision==0.16.0
opencv-python-headless
numpy<2
Pillow
runpod
diffusers[torch]
transformers
boto3
accelerate
safetensors
controlnet_aux==0.0.7 
scipy
tqdm
lmdb
pyyaml
yapf
