opencv-python-headless
numpy
Pillow
runpod
diffusers[torch]
transformers
boto3
moviepy
librosa
requests
torch
torchvision
ffmpeg-python
audioread
realesrgan>=0.2.5
scipy
tqdm
lmdb
pyyaml
yapf