Pillow
runpod
diffusers[torch]
transformers
boto3
moviepy
requests
ffmpeg-python
audioread
realesrgan>=0.2.5
scipy
lmdb
pyyaml
yapf
opencv-python-headless
librosa>=0.7.0
torch==2.1.0
torchvision==0.16.0
numpy<2
tqdm