opencv-python-headless
numpy
Pillow
runpod
diffusers[torch]
transformers
boto3
moviepy
librosa
requests
torch==2.1.0
torchvision==0.16.0
ffmpeg-python
audioread
realesrgan
scipy
tqdm
lmdb
pyyaml
yapf
